<% include partials/header %>

    <div class="contain">
        <h1 style="font-weight: 200;text-align:center;font-size:40px;margin-top:100px;">Enter Twitter Handle</h1>
        <form action="/" method="post" style="text-align:center;margin-top:100px" class="fix">
            <input type="search" name="handle" style="height: 40px;padding:15px;font-family: 'Josefin Sans', sans-serif;" placeholder="Handle..." />
            <button type="submit">SUBMIT</button></span>
        </form>
    </div>

<% include partials/footer %>