<% include partials/header %>
    <div class="container">
    <h1 style="font-weight:300;">Sorry you've entered an invalid twitter handle</h1>
        <form action="/" method="get" style="text-align:center;margin-top:100px" class="fix">
            <button type="submit">GO TO HOMEPAGE</button></span>
        </form>
    </div>

<% include partials/footer %>